    <!-- Start Footer Area -->
    <footer class="footer">
        <!-- Start Footer Top -->
        <div class="footer-top">
            <div class="container">
                <div class="inner-content">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-12">
                            <div class="footer-logo">
                                <a href="index.html">
                                    <img src="https://www.motortrend.com/_next/image/?url=https%3A%2F%2Fwww.motortrend.com%2Fuploads%2F2022%2F09%2F2209-MT-VERSION-1-Tire-Learning-Center-Logo.png&w=1536&q=75" alt="#">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-8 col-12">
                            <div class="footer-newsletter">
                                <h4 class="title">
                                    The best tire shop there is!
                                    <span>Get all the latest Tires, Sales and Offers.</span>
                                </h4>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Top -->
        
        <!-- End Footer Middle -->
        
    </footer>
